.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    min-height: 600px;
    background-color: white;
  }
  
  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #e1e2eb;
  }
  
  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  
  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  
  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #0069d9;
    position: relative;
  }
  
  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
    
  }
  
  .member-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  
  .member-tabset > .tab-content {
    /* margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee; */
    padding: 15px 0;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    /* background-color: var(--bs-nav-pills-link-active-bg); */
    background-color: #00264D;
    /* background-image: linear-gradient(176deg, #3d9dea, #4a4eee) !important; */
  
    border-radius: 30px;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color:#333333;
  /* color: #e1e2eb; */
  
  /* color: var(--bs-nav-link-color); */
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav{
  --bs-nav-link-hover-color: #00264d;
}

.btn-outline-primary {
    
  --bs-btn-color: #333333;
  
  --bs-btn-border-color: #00264d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #02386E;
  --bs-btn-hover-border-color: white;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00264d;
 
  --bs-btn-active-border-color: whitesmoke;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0d6efd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-gradient: none;
}

